name: Deploy Snapshot

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Bump Version"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy Snapshot to Central
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Write maven settings
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          servers: |
            [{
              "id": "central",
              "username": "${{ secrets.CENTRAL_USERNAME }}",
              "password": "${{ secrets.CENTRAL_TOKEN }}"
            }]

      - name: Extract version and check if snapshot
        id: extract_and_check_version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "version=$VERSION" >> $GITHUB_ENV
          if [[ $VERSION == *"-SNAPSHOT" ]]; then
            echo "is_snapshot=true" >> $GITHUB_OUTPUT
            echo "This is a snapshot version: $VERSION"
          else
            echo "is_snapshot=false" >> $GITHUB_OUTPUT
            echo "Not a snapshot version: $VERSION - skipping deployment"
          fi

      - name: Deploy Snapshot to Central
        if: ${{ steps.extract_and_check_version.outputs.is_snapshot == 'true' }}
        run: mvn -B -U clean deploy -DskipTests
